@model IList<Club>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach(var club in Model)
    {
        <div class="col">
            <div class="card shadow-sm">
                <img src="@club.Image" alt="Description of the image" width="400" height="300" />
                <div class="card-body">
                    <p class="card-text">@club.Title</p>
                    <p class="card-text">@club.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@club.Id" type="button" class="btn btn-sm btn-outline-secondary">View></a>
                            <a type="button" asp-controller="Club" asp-action="Edit" asp-route-id="@club.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a type="button" asp-controller="Club" asp-action="Delete" asp-route-id="@club.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                        <small class="text-body-secondary">@club.ClubCategory</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<a class="btn btn-primary btn-sm" asp-controller="Club" asp-action="Create" style="display: block;max-width: 200px;">Add new CLUB </a>